In [219]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

In [220]:
# load in results csv file
csv_path = "Resources/races.csv"
races_df = pd.read_csv(csv_path)

races_df.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [221]:
# load in results csv file
csv_path = "Resources/results.csv"
results_df = pd.read_csv(csv_path)

results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [222]:
# load in status csv file
csv_path = "Resources/status.csv"
status_df = pd.read_csv(csv_path)

status_df.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [223]:
# merge the status dataframe into the results dataframe
merged_res_stat_df = pd.merge(results_df, status_df, on=['statusId'])
merged_res_stat_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,status
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,Finished
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,Finished
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,Finished
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,Finished
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,Finished

In [224]:
# merge the races dataframe into the merged_res_stat dataframe
merged_df = pd.merge(merged_res_stat_df, races_df, on=['raceId'])
merged_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,18,1,1,22,1,1,1,1,10.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,18,2,2,3,5,2,2,2,8.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,18,3,3,7,7,3,3,3,6.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,18,4,4,5,11,4,4,4,5.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,18,5,1,23,3,5,5,5,4.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [225]:
# create a new dataframe to store resultId, raceId, driverId, statusId, status and date
id_df = merged_df[['resultId','raceId','driverId','statusId','status','year']].copy().sort_values(by='year')
id_df.head()

       resultId  raceId  driverId  statusId        status  year
20193     20089     835       797        20      Spun off  1950
20205     20180     835       803        51  Oil pressure  1950
20204     20096     835       611        51  Oil pressure  1950
20203     20093     835       798        51  Oil pressure  1950
20202     20078     835       518        15       +5 Laps  1950

In [226]:
id_df['statusId'].replace({82:73, 3:4}, inplace=True)

In [227]:
id_df['status'].replace({'Injury':'Injured', 'Collision':'Accident'}, inplace=True)

In [228]:
# select rows where the status is injured and collision
select_df = id_df['statusId'].isin(['73', '4'])
injured_accident_df = id_df.loc[select_df]
injured_accident_df

# select rows where the status is injured, injury
# injury_df = id_df.loc[id_df['statusId'] ==73,['resultId','raceId','driverId','statusId','status','year']].sort_values(by='year')
# injury_df['statusId'].value_counts()[73]

In [251]:
# select rows where the status is accident
accidents_df = injured_accident_df.loc[id_df['statusId'] ==4,['statusId','status','year']].sort_values(by='year')
accidents_df

       statusId    status  year
20225         4  Accident  1950
20166         4  Accident  1950
20167         4  Accident  1950
20168         4  Accident  1950
20169         4  Accident  1950
...         ...       ...   ...
25635         4  Accident  2022
25678         4  Accident  2022
25594         4  Accident  2022
25777         4  Accident  2022
25537         4  Accident  2022

[1877 rows x 3 columns]

In [230]:
# select rows where the status is injured
injured_df = injured_accident_df.loc[id_df['statusId'] ==73,['statusId','status','year']].sort_values(by='year')
injured_df

       statusId   status  year
16923        73  Injured  1966
13362        73  Injured  1977
11481        73  Injured  1982
9994         73  Injured  1985
9035         73  Injured  1987
8672         73  Injured  1988
7482         73  Injured  1990
5892         73  Injured  1993
5221         73  Injured  1994
5246         73  Injured  1994
5274         73  Injured  1994
5136         73  Injured  1995
4511         73  Injured  1996
4356         73  Injured  1997
3698         73  Injured  1998
2555         73  Injured  2002
2434         73  Injured  2002
2013         73  Injured  2003
7852         73  Injured  2009
20922        73  Injured  2011

In [233]:
#merge the injury accident info into a dataframe
accident_injury_df = pd.merge(accidents_df, injured_df, on=['year'], how= 'left')
accident_injury_df.head()

   statusId_x  status_x  year  statusId_y status_y
0           4  Accident  1950         NaN      NaN
1           4  Accident  1950         NaN      NaN
2           4  Accident  1950         NaN      NaN
3           4  Accident  1950         NaN      NaN
4           4  Accident  1950         NaN      NaN

In [240]:
# rename the two columns
accident_injury_df = accident_injury_df.rename(columns={'statusId_x': 'accidentId', 'status_x': 'Accidents', 'statusId_y': 'injuriesId', 'status_y': 'Injured'})
accident_injury_df

#accident_injury_df.to_csv('merged.csv', index=False)

      accidentId Accidents  year  injuriesId Injured
0              4  Accident  1950         NaN     NaN
1              4  Accident  1950         NaN     NaN
2              4  Accident  1950         NaN     NaN
3              4  Accident  1950         NaN     NaN
4              4  Accident  1950         NaN     NaN
...          ...       ...   ...         ...     ...
1995           4  Accident  2022         NaN     NaN
1996           4  Accident  2022         NaN     NaN
1997           4  Accident  2022         NaN     NaN
1998           4  Accident  2022         NaN     NaN
1999           4  Accident  2022         NaN     NaN

[2000 rows x 5 columns]

In [241]:
#find the total number of accidents per year
accident_count_df = accident_injury_df.groupby('year')['Accidents'].count()
accident_count_df

year
1950    13
1951     9
1952     5
1953    13
1954    13
        ..
2018    26
2019    21
2020    18
2021    26
2022    18
Name: Accidents, Length: 73, dtype: int64

In [242]:
#find the total number of accidents/collisions per year
injury_count_df = accident_injury_df.groupby('year')['Injured'].count()
injury_count_df

year
1950    0
1951    0
1952    0
1953    0
1954    0
       ..
2018    0
2019    0
2020    0
2021    0
2022    0
Name: Injured, Length: 73, dtype: int64

In [246]:
#merge the injury count and accident count into a dataframe
accident_vs_injury_df = pd.merge(accident_count_df, injury_count_df, on=['year'])
accident_vs_injury_df.head(50)

      Accidents  Injured
year
1950         13        0
1951          9        0
1952          5        0
1953         13        0
1954         13        0
1955         13        0
1956         15        0
1957         15        0
1958         24        0
1959         16        0
1960         14        0
1961         12        0
1962         16        0
1963         15        0
1964          9        0
1965          4        0
1966         13       13
1967          6        0
1968         21        0
1969         11        0
1970         10        0
1971         20        0
1972         22        0
1973         38        0
1974         33        0
1975         54        0
1976         50        0
1977         63       63
1978         49        0
1979         36        0
1980         31        0
1981         48        0
1982         41       41
1983         21        0
1984         28        0
1985         37       37
1986         31        0
1987         28       28
1988         17       17
1989         32        0
1990         31       31
1991         16        0
1992         28        0
1993         40       40
1994        147      147
1995         29       29
1996         33       33
1997         29       29
1998         26       26
1999         16        0

In [244]:
# create plot chart
accident_injury_df.plot(x='year', y=['Accidents', 'Injured'], kind='line')

#Add labels and title
plt.xlabel('Year')
plt.ylabel('Count of Accidents/Injuries')
plt.title('Accidents vs injuries in Formula One (F1)');

TypeError: no numeric data to plot

In [ ]:
# select rows where the status is accident or collision
# accidents_df = id_df.loc[id_df['statusId'] ==4,['resultId','raceId','driverId','statusId','status','year']].sort_values(by='year')
# accidents_df['statusId'].value_counts()[4]

In [ ]:
#find the total number of injury/injured per year
# injury_count_df = injury_df.groupby('year')['statusId'].count()
# injury_count_df

In [ ]:
#find the total number of accidents/collisions per year
# accident_count_df = accidents_df.groupby('year')['statusId'].count()
# accident_count_df

In [ ]:
#merge the injury count and accident count into a dataframe
# accident_injury_df = pd.merge(accident_count_df, injury_count_df, on=['year'])
# accident_injury_df.head()

In [ ]:
# rename the two columns
# accident_injury_df = accident_injury_df.rename(columns={'statusId_x': 'accidents', 'statusId_y': 'injuries'})
# accident_injury_df.head()

# accident_injury_df.to_csv('fully_merged.csv', index=False)

In [ ]:
#reset year column from the index to a column
accident_injury_df.reset_index()
accident_injury_df = accident_injury_df.rename(columns={'index': 'year'})
accident_injury_df.head()

#create plot chart
accident_injury_df.plot(y=['accidents', 'injuries'], kind='line')

# Add labels and title
plt.xlabel('Year')
plt.ylabel('Count of Accidents/Injuries')
plt.title('Accidents vs injuries in Formula One (F1)');