In [7]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

In [8]:
# load in races csv file
csv_path = "Resources/races.csv"
races_df = pd.read_csv(csv_path)
races_df.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [9]:
# load in results csv file
csv_path = "Resources/results.csv"
results_df = pd.read_csv(csv_path)
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [10]:
# load in status csv file
csv_path = "Resources/status.csv"
status_df = pd.read_csv(csv_path)
status_df.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [11]:
# load in drivers csv file
csv_path = "Resources/drivers.csv"
drivers_df = pd.read_csv(csv_path)
drivers_df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [13]:
# merge the status dataframe into the results dataframe
merged_res_stat_df = pd.merge(results_df, status_df, on=['statusId'])
merged_res_stat_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,status
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,Finished
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,Finished
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,Finished
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,Finished
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,Finished

In [14]:
# merge the races dataframe into the merged_res_stat dataframe
merged_df = pd.merge(merged_res_stat_df, races_df, on=['raceId'])
merged_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,18,1,1,22,1,1,1,1,10.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,18,2,2,3,5,2,2,2,8.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,18,3,3,7,7,3,3,3,6.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,18,4,4,5,11,4,4,4,5.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,18,5,1,23,3,5,5,5,4.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [15]:
# merge the drivers dataframe into the merged dataframe
fully_merged_df = pd.merge(merged_df, drivers_df, on=['driverId'])
fully_merged_df.head()

,resultId,raceId,driverId,constructorId,number_x,grid,position,positionText,positionOrder,points,...,sprint_date,sprint_time,driverRef,number_y,code,forename,surname,dob,nationality,url_y
0,1,18,1,1,22,1,1,1,1,10.0,...,\N,\N,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,27,19,1,1,22,9,5,5,5,4.0,...,\N,\N,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
2,57,20,1,1,22,3,13,13,13,0.0,...,\N,\N,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
3,69,21,1,1,22,5,3,3,3,6.0,...,\N,\N,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
4,90,22,1,1,22,3,2,2,2,8.0,...,\N,\N,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton

In [16]:
# save merged file to csv
fully_merged_df.to_csv('fully_merged2.csv', index=True)

In [22]:
# create copy of merged dataframe and sort by year
# create a new dataframe to store resultId, raceId, driverId, statusId, status and date
id_df = fully_merged_df[['year','round','raceId','resultId','driverId','forename', 'surname','statusId','status']].copy().sort_values(by=['year','round'])
id_df.head(40)

,year,round,raceId,resultId,driverId,forename,surname,statusId,status
21514,1950,1,833,20036,579,Juan,Fangio,44,Oil leak
21620,1950,1,833,20042,589,Louis,Chiron,8,Clutch
21754,1950,1,833,20030,619,Bob,Gerard,13,+3 Laps
21811,1950,1,833,20029,627,Louis,Rosier,12,+2 Laps
21946,1950,1,833,20041,640,Toulo,de Graffenried,5,Engine
21999,1950,1,833,20025,642,Nino,Farina,1,Finished
22161,1950,1,833,20035,660,Johnny,Claes,16,+6 Laps
22170,1950,1,833,20044,661,Peter,Walker,6,Gearbox
22173,1950,1,833,20178,666,Tony,Rolt,6,Gearbox
22232,1950,1,833,20038,669,Prince,Bira,60,Out of fuel
22278,1950,1,833,20027,686,Reg,Parnell,1,Finished
22362,1950,1,833,20028,704,Yves,Cabantous,12,+2 Laps
22450,1950,1,833,20032,741,Philippe,Étancelin,15,+5 Laps
22460,1950,1,833,20039,747,David,Murray,5,Engine
22528,1950,1,833,20026,786,Luigi,Fagioli,1,Finished
22541,1950,1,833,20037,776,Joe,Kelly,62,Not classified
22543,1950,1,833,20034,778,Brian,Shawe Taylor,16,+6 Laps
22550,1950,1,833,20040,785,Geoff,Crossley,7,Transmission
22552,1950,1,833,20031,787,Cuth,Harrison,13,+3 Laps
22555,1950,1,833,20043,789,Eugène,Martin,51,Oil pressure
22557,1950,1,833,20033,784,David,Hampshire,16,+6 Laps
22559,1950,1,833,20177,788,Joe,Fry,16,+6 Laps
22560,1950,1,833,20045,790,Leslie,Johnson,126,Supercharger
20334,1950,2,834,20061,427,Maurice,Trintignant,3,Accident
20941,1950,2,834,20055,498,José Froilán,González,3,Accident
21005,1950,2,834,20064,501,Harry,Schell,4,Collision
21515,1950,2,834,20046,579,Juan,Fangio,1,Finished
21621,1950,2,834,20048,589,Louis,Chiron,12,+2 Laps
21755,1950,2,834,20051,619,Bob,Gerard,16,+6 Laps
21812,1950,2,834,20058,627,Louis,Rosier,3,Accident
21844,1950,2,834,20059,626,Robert,Manzon,3,Accident
21920,1950,2,834,20053,633,Luigi,Villoresi,109,Axle
21947,1950,2,834,20060,640,Toulo,de Graffenried,3,Accident
22000,1950,2,834,20056,642,Nino,Farina,3,Accident
22045,1950,2,834,20047,647,Alberto,Ascari,11,+1 Lap
22162,1950,2,834,20052,660,Johnny,Claes,16,+6 Laps
22233,1950,2,834,20050,669,Prince,Bira,15,+5 Laps
22295,1950,2,834,20065,687,Peter,Whitehead,5,Engine
22451,1950,2,834,20054,741,Philippe,Étancelin,44,Oil leak
22493,1950,2,834,20063,762,Franco,Rol,3,Accident

In [28]:
entrants_df = id_df.groupby(by=['year','round']).size().reset_index(name='sum entrants')
entrants_df.head(20)

    year  round  sum entrants
0   1950      1            23
1   1950      2            21
2   1950      3            35
3   1950      4            18
4   1950      5            14
5   1950      6            20
6   1950      7            29
7   1951      1            21
8   1951      2            34
9   1951      3            13
10  1951      4            26
11  1951      5            20
12  1951      6            22
13  1951      7            23
14  1951      8            20
15  1952      1            22
16  1952      2            33
17  1952      3            22
18  1952      4            22
19  1952      5            32

In [30]:
# create dataframe with the row information from columns
select_df = id_df['status'].isin(['Injury', 'Injured','Eye injury'])
injured_df = id_df.loc[select_df]
injured_df

,year,round,raceId,resultId,driverId,forename,surname,statusId,status
19912,1966,6,695,16924,389,Guy,Ligier,82,Injury
18655,1972,6,625,15464,337,Helmut,Marko,107,Eye injury
14207,1977,5,547,13363,182,Niki,Lauda,73,Injured
13828,1982,14,480,11481,175,Patrick,Tambay,82,Injury
8798,1985,7,426,9997,95,Nigel,Mansell,82,Injury
11337,1987,2,389,9037,137,Nelson,Piquet,82,Injury
10755,1988,6,377,8674,122,Ivan,Capelli,73,Injured
11960,1990,14,334,7486,151,Martin,Donnelly,73,Injured
7317,1993,12,284,5894,70,Alessandro,Zanardi,82,Injury
4122,1994,3,259,5221,22,Rubens,Barrichello,82,Injury
8269,1994,4,260,5248,91,Karl,Wendlinger,82,Injury
8136,1994,5,261,5275,85,Andrea,Montermini,82,Injury
6761,1995,17,256,5138,57,Mika,Häkkinen,73,Injured
8114,1996,6,229,4512,85,Andrea,Montermini,82,Injury
7877,1997,16,222,4358,81,Gianni,Morbidelli,82,Injury
6995,1998,2,192,3688,65,Johnny,Herbert,82,Injury
3168,2002,11,134,2435,21,Giancarlo,Fisichella,82,Injury
6273,2002,17,140,2556,66,Allan,McNish,73,Injured
2513,2003,7,114,2014,18,Jenson,Button,73,Injured
3319,2009,15,15,7853,10,Timo,Glock,73,Injured
23054,2011,6,846,23541,815,Sergio,Pérez,82,Injury

In [47]:
statusId_df = injured_df.copy()
statusId_df['statusId'].replace([82,73,107],1,inplace=True)
statusId_df

,year,round,raceId,resultId,driverId,forename,surname,statusId,status
19912,1966,6,695,16924,389,Guy,Ligier,1,Injury
18655,1972,6,625,15464,337,Helmut,Marko,1,Eye injury
14207,1977,5,547,13363,182,Niki,Lauda,1,Injured
13828,1982,14,480,11481,175,Patrick,Tambay,1,Injury
8798,1985,7,426,9997,95,Nigel,Mansell,1,Injury
11337,1987,2,389,9037,137,Nelson,Piquet,1,Injury
10755,1988,6,377,8674,122,Ivan,Capelli,1,Injured
11960,1990,14,334,7486,151,Martin,Donnelly,1,Injured
7317,1993,12,284,5894,70,Alessandro,Zanardi,1,Injury
4122,1994,3,259,5221,22,Rubens,Barrichello,1,Injury
8269,1994,4,260,5248,91,Karl,Wendlinger,1,Injury
8136,1994,5,261,5275,85,Andrea,Montermini,1,Injury
6761,1995,17,256,5138,57,Mika,Häkkinen,1,Injured
8114,1996,6,229,4512,85,Andrea,Montermini,1,Injury
7877,1997,16,222,4358,81,Gianni,Morbidelli,1,Injury
6995,1998,2,192,3688,65,Johnny,Herbert,1,Injury
3168,2002,11,134,2435,21,Giancarlo,Fisichella,1,Injury
6273,2002,17,140,2556,66,Allan,McNish,1,Injured
2513,2003,7,114,2014,18,Jenson,Button,1,Injured
3319,2009,15,15,7853,10,Timo,Glock,1,Injured
23054,2011,6,846,23541,815,Sergio,Pérez,1,Injury

In [49]:
injury_racers_df = pd.merge(entrants_df, injured_df, left_on=['year','round'], right_on=['year','round'], how= 'left')
injury_racers_df.head(50)

,year,round,sum entrants,raceId,resultId,driverId,forename,surname,statusId,status
0,1950,1,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1950,2,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1950,3,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1950,4,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1950,5,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1950,6,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1950,7,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1951,1,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1951,2,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1951,3,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1951,4,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1951,5,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1951,6,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1951,7,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1951,8,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1952,1,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1952,2,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1952,3,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1952,4,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1952,5,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1952,6,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1952,7,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1952,8,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1953,1,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1953,2,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1953,3,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1953,4,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1953,5,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1953,6,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1953,7,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1953,8,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1953,9,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,1954,1,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,1954,2,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,1954,3,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,1954,4,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1954,5,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,1954,6,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,1954,7,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,1954,8,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,1954,9,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,1955,1,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,1955,2,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1955,3,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,1955,4,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,1955,5,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,1955,6,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,1955,7,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,1956,1,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,1956,2,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN